* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 70vh;
    background-color: #eeeeee;
  }  

form {
    display: flex;
    flex-direction: column;
}

.caption {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 40px;
}

.library-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 360px;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 8px 10px 21px -10px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
    transition-delay: 0.3s;
  }

dialog {
    margin: 0;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    width: 300px;
    height: 300px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.div-buttons {
  display: flex;
  gap: 7px;
  margin-top: auto;
}

.title-text {
  font-weight: 700;
  font-size: 2em;
}

button {
  height: 40px;
  width: 70px;
  flex-grow: 1;
  border-radius: 10px;
  border: 0;
}

#open-modal {
  max-height: 40px;
  width: 140px;
  margin-top: 40px;
  background-color: #b6fe9a;
  box-shadow: 4px 4px 0px -1px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.label-card {
  margin-top: 10px;
  color: grey;
  font-weight: 300;
}

.author-text, .pages-text, .read-text {
  font-size: 1.2em;
}

.edit-button {
  background-color: #f6bd7c;
  box-shadow: 4px 4px 0px -1px rgba(0,0,0,0.75);
}

.delete-button {
  background-color: #f6afaf;
  box-shadow: 4px 4px 0px -1px rgba(0,0,0,0.75);
}

.toggle-button {
  background-color: #b3dbf5;
  box-shadow: 4px 4px 0px -1px rgba(0,0,0,0.75);
}

img {
  width: 2em;
  height: 2em;
}