* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 95vh;
  }  

form {
    display: flex;
    flex-direction: column;
}

.caption {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.library-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 160px;
    height: 200px;
    border: solid 2px;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
    transition-delay: 0.3s;
  }

dialog {
    margin: 0; /* `margin: auto;` is the default. */
    transform: translateX(-50%);
    left: 50%;
    top: 40%;
}
  
  